APP_ENV=
PORT=3000
DB_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
ALLOWED_ORIGINS=http://localhost:5173,http://192.168.226.23:5173,http://172.19.0.1:5173,http://172.23.0.1:5173,http://172.29.0.1:5173
